p::selection {
    background: red;
    color: #fff;
}
/*大家都知道浏览器对选中的文本默认样式都是统一的，Windows下是一个深蓝色的背景，白字的前景，而在Mac下是一个淡蓝色背景，
  白色字体，就如上图所展示的一样，自从有了这个“::selection”选择器后，我们在部分浏览器中可以设置你所需要的样式，
*/


.div01{
    width: 550px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
}
.div01 ul{
    list-style:none;
    margin-top: 0;
    /*margin-left: -30px;*/
}
.div01 ul li{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    background: #f36;
    color: green;
    margin-right: 14px;
}
.div01 .active ~ li {
    background: green;
    color: yellow;
    border: 1px solid #ccc;
}
/*通用兄弟元素选择器是CSS3新增加一种选择器，这种选择器将选择某元素后面的所有兄弟元素，
    他们也和相邻兄弟元素类似，需要在同一个父元素之中，换句话说，E和F元素是属于同一父元素之内，
    并且F元素在Ｅ元素之后，那么E ~ F 选择器将选择中所有Ｅ元素后面的Ｆ元素。*/


.div02{


}
.div02 ul{
    /*list-style:none;*/
    margin-top: 0;
    /*margin-left: -30px;*/
}
.div02 ul li{
    /*float: left;*/
    height: 30px;
    line-height: 30px;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    /*background: #f36;*/
    /*color: green;*/
    margin-right: 14px;
}
.div02 ul li:nth-child(3) {
    background: lime;
}

/*:nth-child()可以选择某个的一个或多个特定的子元素，你可以按这种方式进行选择：*/

/*:nth-child(length);参数是具体数字*/
/*:nth-child(n);参数是n,n从0开始计算*/
/*:nth-child(n*length)n的倍数选择，n从0开始算*/
/*:nth-child(n+length);选择大于length后面的元素*/
/*:nth-child(-n+length)选择小于length前面的元素*/
/*:nth-child(n*length+1);表示隔几选一*/
/*上面length为整数*/

/*:nth-child()可以定义他的值（值可以是整数，也可以是表达式），*/
/*如上面所示，用来选择特定的子元素，对于这个我们直接看实例，比我说的更好理解。*/

.div02 ul li:nth-last-child(1) {
    background: lime;
}

.div03{


}

.div03 p::first-letter{
    font-size: 30px;
}

.div03 p::first-line{
    color: red;
}