body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.div_block{
    margin-left: 20px;
    margin-top: 20px;
}
#div01{
    background-color:rgb(89, 204, 14);
    opacity: 0.5;
    width: 300px;
    height: 100px;
}

#div02{
    background-color:rgb(89, 204, 14);
    width: 300px;
    height: 100px;


}

#div03{
    background-color:rgb(89, 204, 14);
    width: 300px;
    height: 100px;
    opacity: 0.5;
}

#div04{
    background-color:rgb(89, 204, 14);
    width: 300px;
    height: 100px;

}
